<title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
<meta charset="utf-8" />
<meta name="description" content="{{ if .Description }}{{ .Description }}{{else}}{{ .Site.Params.Description}}{{end}}" />
<meta name="keywords" content="{{ if .Keywords }}{{ .Keywords }}{{else}}{{ .Site.Params.Keywords}}{{end}}">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{{ range .Site.Params.themeColor }}
  <meta 
    name="theme-color" 
    content="{{ .content }}"
    {{ if .customMedia }}
      media="{{ .customMedia }}"
    {{ else }}
      {{ with .schema }} media="(prefers-color-scheme: {{ . }})" {{ end }} 
    {{ end }}
  />
{{ end }}