{{ define "main" }}
{{ $blogSettings := .Site.Data.homepage.blog }}
  <header>
    <h2>{{ .Title }}</h2>
  </header>
  <div class="row">
      {{ range .Pages }}
          <div class="col-6 col-12-narrower">
              <section class="box special">
                  {{ with partial "bannerURL" . }}
                  <span class="image featured"><img src="{{ . }}" alt="" /></span>
                  {{ end }}
                  <h3>{{ .Title }}</h3>
                  {{ with .Date }}<p>{{ .Format "Jan 2, 2006" }}</p>{{ end }}
                  {{ with .Description }}
                  <p>{{ . }}</p>
                  {{ else }}
                  <p>{{ .Summary }}</p>
                  {{ end }}
                  <ul class="actions special">
                      <li><a href="{{ .Permalink }}" class="button alt">{{ $blogSettings.buttonText }} </a></li>
                  </ul>
              </section>
          </div>
      {{ end }}
  </div>
{{ end }}