<!-- Header -->
<header id="header" {{- if .IsHome -}}class="alt"{{- end -}}>
    <h1>{{ with .Site.Data.globalheader.title }}{{ . | markdownify }}{{else}}{{ .Site.Title }}{{end}}</h1>
    <nav id="nav">
        <ul>
            {{- range .Site.Menus -}}
                {{ range . }}
                <li>
                    <a href="{{ .URL }}" {{- if .HasChildren -}}class="icon solid fa-angle-down"{{- end -}} >{{ .Name }}</a>
                    {{- if .HasChildren -}}
                    <ul>
                        {{- range .Children -}}
                            <li>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                                {{- if .HasChildren -}}
                                    <ul>
                                        {{- range .Children -}}
                                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                        {{- end -}}
                                    </ul>
                                {{- end -}}
                            </li>
                        {{- end -}}
                    </ul>
                    {{- end -}}
                </li>
                {{ end }}
            {{- end -}}
            
            {{ $button := .Site.Data.globalheader.button }}
            {{ if $button.enable }}
            <li><a href="{{ $button.link }}" class="button">{{ $button.title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>